.button {
  @include blueGradient;
  border-radius: 3px;
  border: 0;
  color: white;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  padding: 10px 25px;
  overflow: hidden;
  position: relative;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}


.buttonIcon {
  font-size: 32px;
  margin-right: 10px;
}

.button--shine {
  @include shine-hover;
}

.button--cancel {
  @include redGradient;
}

