.button {
  border-radius: 3px;
  border: 0;
  color: white;
  cursor: pointer;
  outline: 0;
  font-size: 16px;
  padding: 8px 20px;
  position: relative;
  background: $slate;
  transition: background .25s;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    background: $slate-light;
  }

  &.-size-sm {
    font-size: 14px;
    padding: 5px 12px;
  }

  &.-size-lg {
    font-size: 20px;
    padding: 10px 25px;

    .buttonIcon {
      font-size: 32px;
      margin-right: 10px;
    }
  }
}

.buttonIcon {
  font-size: 15px;
  margin-right: 5px;
}

.button--shine {
  @include blueGradient;
  @include shine-hover;
  overflow: hidden;

  &:hover { @include blueGradient }
}

.button--cancel {
  @include redGradient;
}

.button--subtle {
  background: transparent;
  color: $slate-light;

  &:hover {
    background: inherit;
  }
}


