.logo {
  text-align: center;
  position: relative;
  margin: 25px 0;
}

.logo-img {
  width: 200px;
  animation: mover 2s infinite alternate ease-in-out;

  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
  }
}

.logo-shadow {
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(#000, .2);
  animation-direction: alternate;
  animation-duration: 2s;
  animation-name: grow;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);


  @keyframes grow {
    from {
      bottom: 0;
      height: 20px;
      width: 100px;
    }

    to {
      height: 10px;
      width: 75px;
    }
  }
}
