.steps {
  margin-top: 100px;
  padding: 80px $body-padding;
  overflow: hidden;
  position: relative;
}

.steps-bg {
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: $slate-dark;
}

.steps-title {
  color: $gray;
  font-size: 36px;
  position: relative;
}

.step {
  position: relative;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 50px 20px 0;
  background: $slate-light;
  padding: 20px;
  border-radius: 3px;
}

.step-title {
  color: $gray;
  font-size: 24px;
}

.step-icon {
  @include blueGradient;
  @include clipText;
  font-size: 72px;
  margin: 30px 0;
}

.step-description {
  color: $gray;
  font-size: 18px;
}
