@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import 'variables.scss';

.u-floatRight { float: right }
.u-floatLeft { float: left }
.u-clearfix:after { content: ""; display: table; clear: both; }


$slate: #252F3A;
$slate-light: lighten($slate, 3%);
$slate-dark: darken($slate, 3%);
$gray: #EAEAEA;
$aqua: #67E2E5;

$body-padding: 20px;

@mixin blueGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#489ad2+0,67e2e5+100 */
  background: #489ad2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #489ad2 0%, #67e2e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #489ad2 0%,#67e2e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #489ad2 0%,#67e2e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489ad2', endColorstr='#67e2e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@import 'button.scss';
@import 'logo.scss';
@import 'steps.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body {
  background: $slate;
  background-size: 100%;
  font-family: 'Lato';
}

.home {
  width: 100%;
  text-align: center;
}

.nav {
  border-bottom: 1px solid $gray;
}

.nav-title {
  font-size: 16px;
  color: $gray;
}

.link {
  color: $gray;
  text-decoration: none;
  color: $aqua;
}

.title {
  margin-top: 20px;
  color: $gray;
  font-size: 48px;
}

.subtitle {
  font-size: 24px;
  color: $gray;
  font-weight: 400;
}

.repo, .repoList {
  font-size: 16px;
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  border-radius: 3px;
  background: white;
  border: 1px solid black;
}

.repo-head {
  padding: 10px 10px;
  text-align: left;
}

.repo-title {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.repo-actions {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.actionIcon {
  display: none;
  color: gray;
  cursor: pointer;
  margin-left: 8px;

  *:hover > & {
    display: inline;
  }
}

.patrol, .repoList-repo {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 10px;

  &:last-of-type {
    border-width: 0
  }
}

.repoList-repo {
  cursor: pointer
}

.patrol-regex {
  text-align: left;
}


