@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import 'variables.scss';

.u-alignCenter { text-align: center }

$slate: #2b3743;
$slate-light: #43505d;
$slate-dark: #212A34;

$white: white;
$aqua: #67E2E5;
$aqua-light: #b1fffc;
$red: #DD3B34;
$charcoal: #252525;
$gray: #EAEAEA;

$body-padding: 20px;

@import 'mixins.scss';
@import 'button.scss';
@import 'logo.scss';
@import 'steps.scss';
@import 'repo.scss';
@import 'spinner.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html,
body,
#app {
  height: 100%;
}

.reactBody {
  @include bg;
  font-family: 'Lato';
  color: $gray;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1 0 auto;
}

.home {
  width: 100%;
  text-align: center;
}

.signOut {
  text-align: right;
  padding: 10px 20px 0;
  background: $slate-dark;
}

.metrics {
  background: $slate-dark;
  height: 200px;
  box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.3);
}

.appBody {
  margin: 30px auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  position: relative;
}

.noRepos-icon {
  @include blueGradient;
  @include clipText;
  font-size: 96px;
  margin: 30px 0;
}

.addRepo,
.cancelRepo {
  width: 100%;
}


.link {
  color: $aqua;
}

.title {
  margin-top: 60px;
  font-size: 48px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.repo, .repoList {
  font-size: 16px;
  color: $charcoal;
  max-width: 700px;
  width: 100%;
  border-radius: 3px;
  background: white;
  margin-top: 30px;
  overflow: hidden;
}

.repoList {
  margin-top: 20px;
  max-height: 450px;
  overflow: auto;
}

.repo-head {
  padding: 10px 10px;
  text-align: left;
  border-bottom: 1px solid $slate;
}

.repo-title {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
}

.repo-actions {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.actionIcon {
  transition: color .25s;
  display: none;
  color: gray;
  cursor: pointer;
  margin-left: 8px;

  *:hover > & {
    display: inline;
  }

  &:hover {
    color: $aqua
  }
}

.patrol, .repoList-repo {
  text-align: left;
  padding: 10px;

  &:nth-of-type(even) {
    background: $gray;
  }
}

.repoList-repo {
  &:hover {
    background: $aqua-light;
    transition: background .35s;
  }
}

.repoList-repo {
  cursor: pointer
}

.patrol-regex {
  text-align: left;
}

.footer {
  font-size: 14px;
  color: $gray;
  padding: 10px 0;
  text-align: center;
  background: $slate-dark;
  flex-shrink: 0;

  span {
    margin: 0 2px;
    color: $red
  }
}

