@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import 'variables.scss';

.u-alignCenter { text-align: center; }
.u-alignRight { text-align: right; }
.u-inlineBlock { display: inline-block; }
.u-block { display: block; }

$slate: #2b3743;
$slate-light: #43505d;
$slate-dark: #212A34;

$white: white;
$aqua: #67E2E5;
$aqua-light: #b1fffc;
$red: #DD3B34;
$red-dark: #B23534;
$charcoal: #252525;
$gray: #EAEAEA;
$green: green;

$body-padding: 20px;

$z-index-1: 100;

@import 'mixins.scss';
@import 'button.scss';
@import 'logo.scss';
@import 'steps.scss';
@import 'repo.scss';
@import 'spinner.scss';
@import 'email-warning.scss';
@import 'modal.scss';
@import 'checkbox.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html,
body,
#app {
  height: 100%;
}

input {
  border: 1px solid $slate;
  font-size: 16px;
  width: 100%;
  background: $white;
  border-radius: 2px;
  padding: 5px 8px;

  &.stateInvalid {
    border-color: $red;
  }
}

.input-success {
  font-size: 12px;
  color: $green;
}

.reactBody {
  @include bg;
  font-family: 'Lato';
  color: $gray;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1 0 auto;
}

.home {
  width: 100%;
  text-align: center;
}

.nav {
  text-align: right;
  padding: 10px 20px;
  background: $slate-dark;
  box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.3);

  .nav-link {
    padding: 0 10px;
    border-right: 1px solid $gray;

    &:last-of-type {
      padding-right: 0;
      border: 0;
    }
  }
}

.appBody {
  margin: 30px auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  position: relative;
}

.noRepos-icon {
  @include blueGradient;
  @include clipText;
  font-size: 96px;
  margin: 30px 0;
}

.addRepo,
.cancelRepo {
  width: 100%;
}


.link {
  color: $aqua;
  cursor: pointer;
}

.title {
  margin-top: 60px;
  font-size: 48px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.repoList-container {
  position: relative;
}

.repo, .repoList {
  font-size: 16px;
  color: $charcoal;
  max-width: 700px;
  width: 100%;
  border-radius: 3px;
  background: white;
  margin-top: 30px;
  overflow: hidden;
}

.repoList {
  margin-top: 20px;
  max-height: 250px;
  overflow: auto;
}

.repo-head {
  padding: 10px 10px;
  text-align: left;
  border-bottom: 1px solid $slate;
}

.repo-title {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
}

.repo-actions {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.actionIcon {
  transition: color .25s;
  display: none;
  color: gray;
  cursor: pointer;
  margin-left: 8px;

  *:hover > & {
    display: inline;
  }

  &:hover {
    color: $aqua
  }
}

.patrol, .repoList-repo {
  text-align: left;
  padding: 10px;

  &:nth-of-type(even) {
    background: $gray;
  }
}

.repoList-repo {
  &:hover {
    background: $aqua-light;
    transition: background .35s;
  }
}

.repoList-repo {
  cursor: pointer
}

.patrol-regex {
  text-align: left;
}

.flash--error {
  background: $red;
  text-align: center;
  padding: 8px 20px;
  transition: background .35s;

  &:hover {
    background: $red-dark;
  }
}

.flash-link {
  text-decoration: underline
}

.flash-dismiss {
  float: right;
  cursor: pointer;
}

.footer {
  font-size: 12px;
  color: $gray;
  padding: 10px 0;
  text-align: center;
  background: $slate-dark;
  flex-shrink: 0;
}

.footer-heart {
  margin: 0 2px;
  color: $red
}

$gutter-px: 10px;
$gutter-keywords: margin padding;
$gutter-directions: top right bottom left;
$gutter-sizes: (
  xs: 0.3,
  sm: 0.5,
  md: 1,
  lg: 1.5,
  xl: 2,
  2x: 3
);

// Margin & Padding
$gutter-keywords: margin padding;
$gutter-directions: top right bottom left;

@each $keyword in $gutter-keywords {
  .u-#{str-slice(#{$keyword},1,1)} { #{$keyword}: 10px !important; }
  .u-no-#{str-slice(#{$keyword},1,1)} { #{$keyword}: 0 !important; }

  @each $direction in $gutter-directions {
    .u-#{str-slice(#{$keyword},1,1)}-#{$direction} { #{$keyword}-#{$direction}: 10px !important; }
    .u-no-#{str-slice(#{$keyword},1,1)}-#{$direction} { #{$keyword}-#{$direction}: 0 !important; }

    @each $size, $multiplier in $gutter-sizes {
      .u-#{str-slice(#{$keyword},1,1)}-#{$size} { #{$keyword}: 10px * $multiplier !important; }
      .u-#{str-slice(#{$keyword},1,1)}-#{$direction}-#{$size} { #{$keyword}-#{$direction}: 10px * $multiplier !important; }
    }
  }
}
